<!-- ./views/index.handlebars -->
<div class="container mt-5">


  <!-- movie list -->
  <div class="row" id="data-panel">

    {{#each movieList}} <div class="col-sm-3">
      <a href="/movies/{{ this.id }}" class="text-secondary">
        <div class="card mb-2">
          <img class="card-img-top" src="https://movie-list.alphacamp.io/posters/{{ this.image }}" alt="Card image cap">
          <div class="card-body movie-item-body">
            <h6 class="card-title">{{ this.title }}</h6>
          </div>
        </div>
      </a>
    </div>
    {{/each}}

  </div>
</div>